<h1> Detoxify Results {{ variables.detoxify }} </h1>
<h1>
	PHP analyzer Results
neg: {{ variables.phpAnalyzer.neg }}
neu:
{{ variables.phpAnalyzer.neu }}


pos:
{{ variables.phpAnalyzer.pos }}


compound {{ variables.phpAnalyzer.compound }}


</h1>

